{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	<div class="flex flex-col flex-grow">

		{% block header %}
			{% include 'components/headerUser.html.twig' %}
		{% endblock %}


		<div class="flex flex-col justify-center text-center w-full h-auto mt-[10%] gap-4">
			<h1 class="text-orange-500 text-3xl ">USER DASHBOARD</h1>
			<h2 class="text-white text-2xl">Remember every episode, every movie and stay on top of your viewing habits</h2>

			<div>
				<h2 class="text-black text-2xl">MY MOVIES</h2>
                
			</div>
			<a href="{{path('app_movie_index')}}">
				<h2 class="text-white text-2xl">ALL MOVIES</h2>
			</a>

		</div>

	</div>


	{% block footer %}
		{% include 'components/footer.html.twig' %}
	{% endblock %}

{% endblock %}
