{% extends 'base.html.twig' %}

{% block title %}New Movie
{% endblock %}

{% block body %}
	{% block header %}
		{% include 'components/header.html.twig' %}
	{% endblock %}
	{% block main %}


		<h1 class="text-white">Create new Movie</h1>

		{{ include('movie/_form.html.twig') }}

		<a href="{{ path('app_movie_index') }}">back to list</a>
	{% endblock %}	
        {% block footer %}
			{% include 'components/footer.html.twig' %}
		{% endblock %}
	

{% endblock %}
