<footer class="w-full flex justify-center">
<div class="w-full flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex justify-between items-center gap-5">
        <img src="{{ asset('img/logoNoText.svg') }}" class="h-8" alt="Footer Logo">
        <span class="text-white">
            MovieMind © 2024 All rights reserved    |   
            <a class="hover:text-orange-500" href="http://"> Terms and condititions </a> |
            <a class="hover:text-orange-500" href="http://"> Privacy policy </a>
        </span>
    </div>

    <div>
        <img src="{{ asset('img/Brand.svg') }}" class="h-8" alt="Footer Logo">
    </div>

    </div>
</footer>